# dependencies
node_modules/
web/node_modules/

# next.js
web/.next/
web/out/
web/build/

# env
.env
.env.*
!.env.example
web/.env
web/.env.*
!web/.env.example

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
*.tsbuildinfo
next-env.d.ts
